@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --blue: #2a324b;
    --bluegrey: #58699D;
    --grey: #E1E5EE;
    --white: #fff;
    --black: #000;
}


body{
    background-color: var(--grey);
    font-family: "Montserrat", serif;
    font-size: 12px;
    width: 100%;
    padding-top:18rem;
    display: inline-block;
}

li {
    list-style-type: none;
            color:(var(--black));
            margin: 0;
            padding: 0.3rem;
            display: inline-block;
}

button {
    border: none;
    margin:0;
    padding:1rem 2.5rem 1rem 2.5rem;
    background:var(--blue);
    color: var(--white);
    font: inherit;
    font-weight: bold;
}


/* Brukt chatgpt for å finne ut av hover funksjon på button. LINK: https://chatgpt.com/share/6790129e-1b88-800d-8aca-13997fac6be9 */
button:hover {
    background-color: var(--white);
    color: var(--black);
}

nav{
    display: flex;
    justify-content: center;
}


/*nav {
    background-color: var(--white);
    display: flex;
    button {
        border:none
    }

    ul {
        
        li {
            list-style-type: none;
            color:(var(--black));
            margin: 0;
            padding: 1rem;
            display: inline-block;

                a{
                    text-decoration: none;
                    text-align: center;
                    color: var(--black);
                }
        }
    }
}*/




